.message-main {
    margin: auto;
}
.message-inner {
    margin: 40px auto;
}
.message-main form {
    background: #04103c;
    padding: 60px 0px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}
.message-main .form-row {
    display: flex;
    text-align: center;
    justify-content: center;
}
.message-main .heading {
    font-size: 1.5rem;
    margin-top: 40px;
}
.message-main .form-control {
    height: 50px;
    width: 300px !important;
}
.btn {
    margin: 0;
}
.message-main .message-btn {
    background-color: #1f5f9e;
    border: #1f5f9e;
}
.nav-tabs {
    width: 100%;
}
.card-body:hover {
    background-color: white !important;
    color: #4a4a4a;
    box-shadow: none;
}
.nav-link.active {
    background-color: #2d3758 !important;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
}
.nav-tabs .nav-link:hover {
    border-color: transparent !important;
}
.innercard .name {
    padding-left: 0px;
}
.innercard p {
    font-weight: 500;
    max-width: 950px;
}
.user .name {
    padding-left: 0px;
}
.time {
    float:right;
}
.tab-content {
    width: 100%;
}
.user p {
    font-weight: 500;
    max-width: 950px;
}
.reply-message {
    color: black;
    float: right;
    margin-top: 0px;
}
.send-input {
    width: 1032px;
    border: 1px solid #e4e4e4;
    float: left;
    height: 47px;
    padding: 8px;
}
.sendmessage-btn.sender.btn.btn-secondary {
    float: right;
    margin-top: 0;
    height: 47px;
}
.tab-pane .user-info {
    margin-top: 0px;
    margin-bottom: 10px;
}
.msghead {
    margin-top: 40px;
}
.message-inner p {
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 20px;
}
.msgtextarea p {
    color: green;
    text-align: left;
    padding-top: 58px;
    font-size: 18px;
    font-weight: bold;
}
.left-sidebar {
    text-align: center;
   
    padding-left: 2% !important;
}
.message-btn.btn.btn-secondary {
    background: #4c6eb3;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.message-mail {
    margin-top: 25px;
}
.message-mail h2 {
    font-size: 22px;
    background: transparent;
    text-align: left;
    padding: 0px 80px 8px 30px;
    text-transform: capitalize;
}
.adminlink {
    text-align: left;
}
.adminlink i {
    padding-right: 13px;
}
.nav-link {
    padding: 0.5rem 0px !important;
}
i.fa.fa-angle-down {
    float:right;
    line-height: 30px;
}
.left-sidebar a {
    color: #3e3b3b;
    font-size: 16px;
    padding: 10px;
}
.left-sidebar a:hover {
    color: #3e3b3b !important;
    background: none;
}
.message-box th {
    padding: 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
}
.circleborder i {
    font-size: 12px;
    color: red;
    line-height: 48px;
}
.message-detail{
    width: 820px;
    height: 40px;
    overflow: hidden;
    padding: 8px !important;
    line-height: 30px;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 820px;
}
.styles_modal__gNwvD {
    padding: 0px !important;
    border: none !important;
    width: 100% !important;
}
.sent-modal h2 {
    background: #020e3a;
    color: white;
    font-size: 22px;
    text-transform: capitalize;
}
svg.styles_closeIcon__1QwbI path {
    fill: white;
}
.styles_closeIcon__1QwbI {
    margin: 13px;
}
.modal-inner {
    padding: 10px 30px 40px 30px
}
.modal-inner label{
    float: left;
    line-height: 36px;
}
.modal-inner input {
    overflow: visible;
    border-bottom: 1px solid #c1bfbf;
    margin-bottom: 0px;
    color: black;
    width: 95%;
    margin-left: 4%;
    outline: none;
}
.modal-inner textarea {
    width: 100%;
    border: 1px solid #c1bfbf;
    height: 155px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;

}

.modal-inner .message-btn.btn.btn-secondary {
    width: 75%;
    margin: auto;
    text-align: center;
    display: block;
}
#toggler {
    border-bottom: 1px solid #f4f4f4;
    margin-top: 15px;
    padding: 10px;
}
.css-2b097c-container {
    width: 100%;
}
.css-yk16xz-control {
    border: none !important;
    outline: none !important;
}
.css-1pahdxg-control {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.detail-images img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.message-deatil-inner h3 {
    vertical-align: top;
    font-size: 17px;
    display: inline;
    line-height: 50px;
}
.detail-images {
    display: inline;
    width: 55px;
    float: left;
    vertical-align: top;
}
.summay-message {
    padding: 20px;
}
.Reply-section button {
    color: #5f6368;
    background-color: white;
    border: 1px solid #d4d4d4;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}
.Reply-section button:focus {
    outline: none;
}

.Reply-section span {
    color: #5f6368;
    padding-right: 10px;
}
.head-mess span {
    font-weight: normal;
    color: #212629;
    line-height: 50px;
    padding-left: 1%;
}
.conversation-mess .head-mess h3 {
    line-height: 58px;
}
.conversation-mess .head-mess span {
    line-height: 58px;
    padding-left: 1%;
}
.conversation-mess .summay-message {
    padding: 0px 58px;
    transform: translate(0px, -15px);
}
.conversation-mess {
    padding: 5px 0px;
}
.name-table {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.message-deatil-inner {
    transform: translate(10px, -268px);
}
.message-box th {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
}
.message-box tr {
    border-bottom: none;
    cursor: pointer;
}
.message-box tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
}
.reply-detail-text textarea {
    width: 90%;
    height: 150px;
    margin-top: 28px;
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    display: block;
    outline: none;
}
.reply-detail-text .message-btn.btn.btn-secondary {
    width: 12%;
    margin-top: 30px;
}
/* .reply-detail-text span {
    padding-right: 15px;
} */
.admin-input {
    border: none !important;
}
.checkbox {
    margin: 0; 
    margin-bottom: 10px;
    position: absolute;
    margin-left: 0 !important;
    transform: translate(-24px, 0px);
}
.check-label label {
    line-height: 18px;
    color: #ff0505;
    font-size: 16px;
    font-weight: bold;
}
.admin-area {
    margin-top: 20px;
}
.adminlink .active {
    background: #e0f9f6;
    padding: 10px;
    color: #00d1b2;
    font-size: 16px;
}
.time-list {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.sent-modal .css-2b097c-container {
    width: 100%;
}
.backtopage {
    transform: translate(242px, 32px);
    cursor: pointer;
    position: absolute;
    font-weight: 400;
}
.backtopage span {
    color: black;
    padding-left: 10px;
    font-weight: normal;
}
.left-sidebar{
    position: relative;
    margin-top: 20px;
}
.backtopage i {
    font-size: 15px;
}
.time-detail {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.sucess-msg {
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.message-mail.row {
    position: relative;
    top: 82%;
    left: 0;
    padding: 0;
}
.messagedetail {
    width: 78%;
    left: 0;
    transform: translate(-180px, 40px);
}
.error-msg {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;
}
.succes-msg {
    font-size: 90px;
    text-align: center;
    color: #08a008;
}
.succes-text {
    text-align: center;
    font-size: 25px;
    color: #08a008;
    font-weight: bold;
}