.App{
    text-align: left;
}
.survey-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.survey-card .card{
    box-shadow: none;
}
.card-header {
  background-color: #bdb8b83d!important;
 
  margin: -17px -15px 30px -16px;
}

.card-heading{
    color:#000;
    font-size: 1rem!important;
    font-weight: 400!important;
    border-radius: 3px;

}
.surveycard{
    width: 50%;
    margin: 3%;
    padding:15px;
    border-radius:1px;
    background-color: #4e434312;
    border: 1px solid #999;

}

.card-heading .fa-cog {
    font-weight: 600!important;
    margin-right: 10px;

}

.survey-card .card{
padding-bottom: 50px;
 width: 50%;
}

.checkboxes{
    padding:0 0 20px 50px;
    
}

.checkbox-inline{
    font-size: .9rem;
}

.checkbox-inline input[type='checkbox']{
    margin-right: 30px;
    width: .9rem; 
    height: .9rem;
    cursor: pointer;
}

.survey-question{
    margin-bottom: 15px;
    font-size: .9rem;
}

.lable-text{
    margin-right:60px;
}

.survey-complaint{
    margin-left: 45px;
}

.survey-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.survey-btn a{
    width: 350px;
}

.btn-angle-down{
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
}

.btn-angle-down i{
    color:#00b89c;
    font-size: .7rem;
}

.address{
    padding: .75rem;
}

.address input{
    border:1px solid #999999;
    padding: 5px;
}
.address input:focus{
    box-shadow: none;
    outline: 0;
}

.control.has-icons-left .input {
    padding-left: 3rem;
}

.icon {
    background-color:#bdb8b83d!important;
    margin-right: 10px;
}


.control textarea{
    border:1px solid #999999;
    padding: 5px;
}
.control textarea:focus{
    box-shadow: none;
    outline: 0;
}


.checkbox-data{
    display: flex;
}

.checkbox-inline{
    display: flex;
    align-items: center;
    justify-content: center
}

.survey-loading{
    width: 100%; 
    text-align:center;
}

.survey-loading img{
    height: 40px;
}


.reminder-msg{
    color:red;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    margin-top: 10px;
}

.reminder-msg strong{
    font-family: 'Slabo 27px', serif;
    font-style: italic;  
    color:red;
    font-weight: 900;
    margin-right:5px;
}

.send-success-msg{
    color:#008000;
    width: 100%;
    font-weight:600;
    text-align: center;
}

.error-Msg{
    color:red;
    position: relative;
    top:-20px;
    padding-left: 50px;
}