.userlist-show {
    text-align: center;
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.userlist-show .table thead {
    color: #fff;
}
.userlist-show .table tr {
    border-bottom:none !important;
}
.userlist-show .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #545353 !important;
    padding: 3px;
    font-weight: 500;
}
.userlist-show .table td i {
    color: #3fb99d;
    font-size: 20px;
    text-align: right;
    float: right;
    vertical-align: top;
}
.userlist-show .table td {
    /* width: 820px; */
    overflow: hidden;
    font-size: 17px;
    padding: 12px 15px;
    color: #000;
}
.edit-icons {
    text-align: center !important;
}
.userlist-show .table tr {
    border-bottom: 1px solid #efebeb !important;
}
.userlist-show .table {
    max-width: 80%;
    margin: 40px auto;
}